@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    background-image: url(img/bg.jpg);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

.wrapper {
    max-width: 500px;
    background-color: rgba(150, 200, 255, 0.1);
    padding: 20px 10px;
    margin: 0 auto;
}

.search {
    position: relative;
    display: flex;
}

.search__input {
    width: 250px;
    padding: 5px;
    padding-right: 30px;
}

.search__btn {
    position: absolute;
    top: 5px;
    left: 260px;
    background-color: #fff;
    border: none;
    
}

.search__btn img {
    width: 15px;
    height: 15px;
}

.city-title {
    font-size: 30px;
    margin: 15px 0;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item img {
    width: 70px;
    height: 70px;
}

.temperature {
    font-size: 45px;
    margin-left: 25px;
}

.weather__text {
    font-size: 22px;
    margin-bottom: 5px;
}

.weather__content {
    font-size: 20px;
    margin-top: 15px;
}

.weather__content img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    
}

.weather__inner {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}