@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    background-image: url(img/bg.jpg);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 500px;
    background-color: rgba(150, 200, 255, 0.1);
    padding: 20px 10px;
    margin: 0 auto;
}

.search {
    position: relative;
    display: flex;
}

.search__input {
    width: 250px;
    padding: 10px 5px;
    padding-right: 30px;
}

.search__btn {
    position: absolute;
    top: 10px;
    left: 255px;
    background-color: #fff;
    border: none;
    
}

.search__btn img {
    width: 20px;
    height: 20px;
}

.city-title {
    font-size: 36px;
    margin: 15px 0;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item img {
    width: 70px;
    height: 70px;
}

.temperature {
    font-size: 45px;
    margin-left: 25px;
}

.weather__text {
    font-size: 22px;
    margin-bottom: 5px;
}

.weather__content {
    font-size: 20px;
    margin-top: 30px;
}

.weather__content img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    
}

.weather__inner {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .wrapper {
        height: 100vh;
    }
}